{% extends 'base.html' %}

{% block search %}
<form action="/wiki/search" method="get">
    <input type="text" name="q" value="" />
    <input type="submit" name="submit" value="Search" />
</form>
{% endblock %}

{% block page %}

<div class="djiki">
    <div class="actions container_12">
        <div class="grid_12">
        {% block djiki_actions %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="main container_12">
        {% block djiki_main %}{% endblock %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
