{% extends 'djiki/base_page.html' %}
{% load i18n djiki_tags %}
{% block title %}{% trans "Edit page" %}: {{ block.super }}{% endblock %}
{% block css %}{{ form.media.css }}{% endblock %}
{% block djiki_main %}
    <div class="content">
        <h1>{{ page.title }}</h1>
        {% if preview_content %}
        {{ preview_content|djiki_markup }}
        {% endif %}
    </div>
    <div class="editForm">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="save" type="submit" name="action" value="save">{% trans "Save" %}</button>
                <button class="preview" type="submit" name="action" value="preview">{% trans "Preview" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}{{ form.media.js }}{% endblock %}
